files/template.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="requests">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="request" maxOccurs="unbounded" minOccurs="10000">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:anyURI" name="url"/>
              <xs:element type="xs:string" name="method"/>
              <xs:element type="xs:dateTime" name="sendDateTime"/>
              <xs:element name="headers">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element name="header" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="key"/>
                          <xs:element type="xs:string" name="value"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>